<html>

<head>

</head>
<body>
	<h1>Firebase Messsaging Sample Application</h1>

	<div>
		<h5 id="message" />
	</div>

	<div id="topics">
		<h2>Notification topics:</h2>
		<th:block id="topics" th:each="topic : ${topics}">
			<input type="checkbox" checked="true" th:value="${topic.name}" />
			<label th:text="${topic.description}"></label>
		</th:block>
		<button id="register">Register</button>
	</div>

	<div id="notifications">
		<h2>Notifications:</h2>
	</div>

	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

	<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-auth.js"></script>
	<script
		src="https://www.gstatic.com/firebasejs/5.9.1/firebase-database.js"></script>
	<script
		src="https://www.gstatic.com/firebasejs/5.9.1/firebase-firestore.js"></script>
	<script
		src="https://www.gstatic.com/firebasejs/5.9.1/firebase-messaging.js"></script>
	<script
		src="https://www.gstatic.com/firebasejs/5.9.1/firebase-functions.js"></script>
	<script type="text/javascript" src="./js/index.js"></script>

	<script>
		
	</script>
</body>

</html>